<nav>
  <%= render partial: "render/nav1" %>
</nav>


<main class="CONTACT-content wf-roundedmplus1c">
  <article>
    <section id="P-ADMIN1" style="">
      <div class="Opacity-ADMIN" style="padding: 100px 0px 0px;">
      <div class="container" style="max-width: 900px;">        <!-- 全体を囲むコンテナ -->
      <!-- <div class="Post-Screen">
        <h2 class="mt-5 mb-3">カスタムプロトコル作成</h2>
      </div> -->
        <div class="row justify-content-center">
          <div class="col-0"></div>
            <div class="col-12">
              <h2 class="col-md-8 mb-5"><img src="/assets/Admin/file.png"><strong>スタンダードプロトコル作成</strong></h2>
              <form>
                <div class="form-group mb-5">
                  <label class="col-md-4 col-form-label mb-2" for="B_Name">タイトル（プロトコルの正式名称）</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control" id="B_Name">
                  </div>
                </div>

                <div class="form-group mb-5">
                  <label class="col-md-4 col-form-label mb-2" for="B_Name">プロトコル作成日</label>
                  <div class="col-md-5">
                    <a id="year"></a><a id="month"></a><a id="day"></a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="container-fluid" >        <!-- 全体を囲むコンテナ -->
          <div class="card-deck card-deck3">

            <div class="card card3">
              <img id="business-card3" src="/assets/Admin/admin2.jpg" class="card-img-top">
              <div class="card-body">
                <div class="card-text">手順n</div>
                <textarea rows="7" class="form-control" id="Q_Ask"></textarea>
                </p>
              </div>
            </div>

            <div class="card card3">
              <img id="business-card3" src="/assets/Admin/admin2.jpg" class="card-img-top">
              <div class="card-body">
                <div class="card-text">手順n</div>
                <textarea rows="7" class="form-control" id="Q_Ask"></textarea>
              </div>
            </div>

            <div class="card card3">
              <img id="business-card3" src="/assets/Admin/admin2.jpg" class="card-img-top">
              <div class="card-body">
                <div class="card-text">手順n</div>
                <textarea rows="7" class="form-control" id="Q_Ask"></textarea>
              </div>
            </div>

          </div>
        </div>
        <div class="container" style="max-width: 900px;">
          <div class="row justify-content-center">
            <div class="col-0"></div>
              <div class="col-12">
                <form>
                  <div class="form-group col-md-8 mb-4">
                    <label for="receipt">登録するカテゴリー（選択もしくは作成）</label>
                    <select class="custom-select" id="receipt">
                      <option>選択</option>
                      <option>hoge1</option>
                      <option>hoge2</option>
                      <option>hoge3</option>
                    </select>
                  </div>

                  <div class="form-group mb-5">
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="B_Name">
                  </div>
                </div>

                  <button class="btn btn-primary" style="margin: 0px auto 75px; display: block;">登録
                  </button>
              </form>
            </div>
          </div>
        </div>
      </div>                <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>




