<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="UsersResult-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity2">
        <div class="container">
          <div class="row">
            <div class="col-md-0"></div>
              <div class="col-md-10">
                <h1 class="R-TitleName3"><img class="icon-blank" src="/assets/Admin/file.png"><strong>スタンダードプロトコルhogehoge</strong></h1>
                </h1>
              </div>
            </div>
          </div>
      <div class="container-fluid">        <!-- 全体を囲むコンテナ -->
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 mt-4 mt-md-0">
              <p class="experiment-time">実験実施日<br>
                YYYY年 MM月DD日</p>
              <p class="experiment-category">カテゴリー<br>
              category</p>
            </div>
          </div>
        </div>
        <div class="container-fluid">        <!-- 全体を囲むコンテナ -->
        <div class="row justify-content-center">
          <div class="col-md-10 mt-5" style="margin-top: 20px;">
            <h4>実験方法</h4>
            <hr class="mt-0 mb-4">
            <p>
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
            </p>
          </div>
        </div>
        </div>
        <div class="container-fluid">        <!-- 全体を囲むコンテナ -->
        <div class="row justify-content-center">
          <div class="col-md-10 mt-5" style="margin-top: 20px">
            <h4>実験の結果</h4>
            <hr class="mt-0 mb-4">
            <p>hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
              hogehogehogehogehogehogehogehogehogehogehogehoge
             </p>
          </div>
        </div>
        </div>
      </div>
    </section>
  </article>
</main>


