<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="ExperimentResult-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity2">

  <div class="container">        <!-- 全体を囲むコンテナ -->
    <h1 class="R-TitleName3"><strong>~hogehoge研究室~</strong></h1>
  <h2 class="my-5"><img class="icon-blank" src="/assets/Admin/result.png">実験結果</h2>


  <div class="d-sm-flex flex-wrap text-black">
    <div class="bg-info p-3 mb-2 mr-sm-2 Result-Box">
      <a class="A-Tag" href="/experiment/show">
        <div class="media A-TagEffect">
          <img class="Result-Img mr-3" src="/assets/Admin/admin3.jpg">
          <div class="media-body" style="">
            <h5>タイトル：</h5>
            <p class="mb-0">作成日時：</p>
            <p class="mb-0">作成者名：</p>
            <p class="mb-0">カテゴリー名：</p>
          </div>
        </div>
      </a>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Result-Box">
      <a class="A-Tag" href="/experiment/show">
        <div class="media A-TagEffect">
          <img class="Result-Img mr-3" src="/assets/Admin/admin3.jpg">
          <div class="media-body" style="">
            <h5>タイトル：</h5>
            <p class="mb-0">作成日時：</p>
            <p class="mb-0">作成者名：</p>
            <p class="mb-0">カテゴリー名：</p>
          </div>
        </div>
      </a>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Result-Box">
      <a class="A-Tag" href="/experiment/show">
        <div class="media A-TagEffect">
          <img class="Result-Img mr-3" src="/assets/Admin/admin3.jpg">
          <div class="media-body" style="">
            <h5>タイトル：</h5>
            <p class="mb-0">作成日時：</p>
            <p class="mb-0">作成者名：</p>
            <p class="mb-0">カテゴリー名：</p>
          </div>
        </div>
      </a>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Result-Box">
      <a class="A-Tag" href="/experiment/show">
        <div class="media A-TagEffect">
          <img class="Result-Img mr-3" src="/assets/Admin/admin3.jpg">
          <div class="media-body" style="">
            <h5>タイトル：</h5>
            <p class="mb-0">作成日時：</p>
            <p class="mb-0">作成者名：</p>
            <p class="mb-0">カテゴリー名：</p>
          </div>
        </div>
      </a>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Result-Box">
      <a class="A-Tag" href="/experiment/show">
        <div class="media A-TagEffect">
          <img class="Result-Img mr-3" src="/assets/Admin/admin3.jpg">
          <div class="media-body" style="">
            <h5>タイトル：</h5>
            <p class="mb-0">作成日時：</p>
            <p class="mb-0">作成者名：</p>
            <p class="mb-0">カテゴリー名：</p>
          </div>
        </div>
      </a>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Result-Box">
      <a class="A-Tag" href="/experiment/show">
        <div class="media A-TagEffect">
          <img class="Result-Img mr-3" src="/assets/Admin/admin3.jpg">
          <div class="media-body" style="">
            <h5>タイトル：</h5>
            <p class="mb-0">作成日時：</p>
            <p class="mb-0">作成者名：</p>
            <p class="mb-0">カテゴリー名：</p>
          </div>
        </div>
      </a>
    </div>


  </div>

</div>        <!-- 全体を囲むコンテナ -->

      </div>
    </section>
  </article>
</main>

