<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="ADMIN-content">
  <article>
    <section id="P-ADMIN1">
      <div class="Opacity-ADMIN" style="padding-top: 50px;">

  <div class="container">        <!-- 全体を囲むコンテナ -->
    <h1 class="menutitle" style="margin-bottom: 75px;"><strong>~hogehoge研究室~</strong></h1>
  <h2 class="my-5"><img src="/assets/Admin/result.png" style="margin-right: 10px;">実験結果</h2>

  <div class="d-sm-flex flex-wrap text-black">
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 75px!important; background: rgba(255, 251, 246, 0.61)!important;">
      <div class="media">
        <a href="#" class="mr-3"><img src="/assets/Admin/admin3.jpg" style="width: 100px; height: 100px;"></a>
        <div class="media-body">
          <h4>タイトル<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
      <p class="mb-0">作成者名</p>
      <p class="mb-0">カテゴリー名</p>
        </div>
      </div>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 75px!important; background: rgba(255, 251, 246, 0.61)!important;">
      <div class="media">
        <a href="#" class="mr-3"><img src="/assets/Admin/admin3.jpg" style="width: 100px; height: 100px;"></a>
        <div class="media-body">
          <h4>タイトル<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
          <p class="mb-0">作成者名</p>
          <p class="mb-0">カテゴリー名</p>
        </div>
      </div>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 75px!important; background: rgba(255, 251, 246, 0.61)!important;">
      <div class="media">
        <a href="#" class="mr-3"><img src="/assets/Admin/admin3.jpg" style="width: 100px; height: 100px;"></a>
        <div class="media-body">
          <h4>タイトル<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
          <p class="mb-0">作成者名</p>
          <p class="mb-0">カテゴリー名</p>
        </div>
      </div>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 75px!important; background: rgba(255, 251, 246, 0.61)!important;">
      <div class="media">
        <a href="#" class="mr-3"><img src="/assets/Admin/admin3.jpg" style="width: 100px; height: 100px;"></a>
        <div class="media-body">
          <h4>タイトル<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
          <p class="mb-0">作成者名</p>
          <p class="mb-0">カテゴリー名</p>
        </div>
      </div>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 75px!important; background: rgba(255, 251, 246, 0.61)!important;">
      <div class="media">
        <a href="#" class="mr-3"><img src="/assets/Admin/admin3.jpg" style="width: 100px; height: 100px;"></a>
        <div class="media-body">
          <h4>タイトル<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
          <p class="mb-0">作成者名</p>
          <p class="mb-0">カテゴリー名</p>
        </div>
      </div>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 75px!important; background: rgba(255, 251, 246, 0.61)!important;">
      <div class="media">
        <a href="#" class="mr-3"><img src="/assets/Admin/admin3.jpg" style="width: 100px; height: 100px;"></a>
        <div class="media-body">
          <h4>タイトル<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
          <p class="mb-0">作成者名</p>
          <p class="mb-0">カテゴリー名</p>
        </div>
      </div>
    </div>


  </div>

</div>        <!-- 全体を囲むコンテナ -->

      </div>
    </section>
  </article>
</main>

