<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="ADMIN-content">
  <article>
    <section id="P-ADMIN" style="background:url(<%= asset_path "Admin/admin1.jpg" %>);">
      <div class="Opacity-ADMIN">
      <h1 class="menutitle text-center" style="margin-bottom: 75px;"><strong>実験結果</strong></h1>
      <div class="container-fluid">        <!-- 全体を囲むコンテナ -->
          <div class="row justify-content-center">
            <div class="col-md-4">
              <img src="/assets/Admin/admin.jpg" class="img-fluid" style=" width: auto; ">
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <p class="experiment-time">実験実施日<br>
                YYYY年 MM月DD日</p>
              <p class="experiment-category">カテゴリー<br>
              category</p>
              <p class="experiment-protocol">利用したプロトコル
              link_to_custom_protocol</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-9 experiment-report" style="margin-top: 20px;">
            <h4>実験の概要</h4>
            <p>
              hogehogehogehogehogehogehogehogehogehogehogehoge<br>
              hogehogehogehogehogehogehogehogehogehogehogehoge<br>
              hogehogehogehogehogehogehogehogehogehogehogehoge<br>
              hogehogehogehogehogehogehogehogehogehogehogehoge<br>
              hogehogehogehogehogehogehogehogehogehogehogehoge<br>
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-9 experiment-result" style="margin-top: 20px">
            <h4>実験の結果</h4>
            <p>hogehogehogehogehogehogehogehogehogehogehogehoge<br>
               hogehogehogehogehogehogehogehogehogehogehogehoge<br>
               hogehogehogehogehogehogehogehogehogehogehogehoge<br>
               hogehogehogehogehogehogehogehogehogehogehogehoge<br>
               hogehogehogehogehogehogehogehogehogehogehogehoge<br>
             </p>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>









