<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="ADMIN-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity1">
      <h1 class="R-TitleName2 text-center" style="margin-bottom: 75px;"><strong>管理画面トップ</strong></h1>
      <div class="container-fluid" style="max-width: 1200px;">        <!-- 全体を囲むコンテナ -->
        <div class="row justify-content-center">
          <div class="col-md-12 mt-4 mt-md-0">

            <div class="card-deck">

                  <div class="card icon">
                    <a href="/labo/new" style=" ">
                    <div class="card-body text-center">
                        <img class="icon-size" src="/assets/Admin/school.png">
                        <h5 class="icon-FontColor card-title text-center mt-4">新規研究室登録
                        </h5>
                    </div>
                    </a>
                  </div>

                  <div class="card icon">
                    <a href="/labo" style="height: 275px;">
                    <div class="card-body text-center">
                        <img class="icon-size" src="/assets/Admin/book.png">
                        <h5 class="icon-FontColor card-title text-center mt-4">登録研究室一覧
                      </h5>
                    </div>
                    </a>
                  </div>

                  <div class="card icon">
                    <a href="/standard/new" style="height: 275px;">
                    <div class="card-body text-center">
                        <img class="icon-size" src="/assets/Admin/flask.png">
                        <h5 class="icon-FontColor card-title text-center mt-4">新規テンプレート<br>プロトコル
                      </h5>
                    </div>
                    </a>
                  </div>

            </div>
          </div>
        </div>
      </div>                   <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>

