<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="ADMIN-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity1">
      <h1 class="R-TitleName2 text-center" style="margin-bottom: 75px;"><strong>管理画面トップ</strong></h1>
      <div class="container-fluid" style="max-width: 1200px;">        <!-- 全体を囲むコンテナ -->
        <div class="row justify-content-center">
          <div class="col-md-12 mt-4 mt-md-0">

            <div class="card-deck">

                  <div class="card icon" style="border: 1px solid; border-color: rgb(60,135,219);">
                    <a href="/labo/new" style=" text-decoration: none;">
                    <div class="card-body text-center">
                        <img src="/assets/Admin/school.png" style="width:150px; height: auto;">
                        <h5 class="card-title text-center mt-4" style="color: rgb(60,135,219);">新規研究室登録
                        </h5>
                    </div>
                    </a>
                  </div>

                  <div class="card icon" style="border: 1px solid; border-color: rgb(60,135,219);">
                    <a href="/labo" style="text-decoration: none;">
                    <div class="card-body text-center">
                        <img src="/assets/Admin/book.png" style="width:150px; height: auto;">
                        <h5 class="card-title text-center mt-4" style="color: rgb(60,135,219);">登録研究室一覧
                      </h5>
                    </div>
                    </a>
                  </div>

                  <div class="card icon" style="border: 1px solid; border-color: rgb(60,135,219);">
                    <a href="/standard/new" style="text-decoration: none;">
                    <div class="card-body text-center">
                        <img src="/assets/Admin/flask.png" style="width:150px; height: auto;">
                        <h5 class="card-title text-center mt-4" style="color: rgb(60,135,219);">新規テンプレート<br>プロトコル
                      </h5>
                    </div>
                    </a>
                  </div>

            </div>
          </div>
        </div>
      </div>                   <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>

