<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="ADMIN-content">
  <article>
    <section id="P-ADMIN1">
      <div class="Opacity-ADMIN" style="padding-top: 50px;">
      <div class="container">        <!-- 全体を囲むコンテナ -->
        <h1 class="menutitle" style="margin-bottom: 75px;"><strong><i class="fas fa-school" style="margin-right: 10px;"></i>登録済み研究室一覧</strong></h1>
  <div class="d-sm-flex flex-wrap text-black">
    <div class="bg-info p-3 mb-2 mr-sm-2" style="background: rgba(255, 251, 246, 0.61)!important; width: 250px;">
      <h3 style="border-bottom: 1px solid;">研究室名</h3>
      <p class="mb-0" style="padding: 15px 0px;">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0" style="padding: 15px 0px;">学科名：hogehoge</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="background: rgba(255, 251, 246, 0.61)!important; width: 250px;">
      <h3 style="border-bottom: 1px solid;">研究室名</h3>
      <p class="mb-0" style="padding: 15px 0px;">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0" style="padding: 15px 0px;">学科名：hogehoge</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="background: rgba(255, 251, 246, 0.61)!important; width: 250px;">
      <h3 style="border-bottom: 1px solid;">研究室名</h3>
      <p class="mb-0" style="padding: 15px 0px;">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0" style="padding: 15px 0px;">学科名：hogehoge</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="background: rgba(255, 251, 246, 0.61)!important; width: 250px;">
      <h3 style="border-bottom: 1px solid;">研究室名</h3>
      <p class="mb-0" style="padding: 15px 0px;">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0" style="padding: 15px 0px;">学科名：hogehoge</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="background: rgba(255, 251, 246, 0.61)!important; width: 250px;">
      <h3 style="border-bottom: 1px solid;">研究室名</h3>
      <p class="mb-0" style="padding: 15px 0px;">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0" style="padding: 15px 0px;">学科名：hogehoge</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="background: rgba(255, 251, 246, 0.61)!important; width: 250px;">
      <h3 style="border-bottom: 1px solid;">研究室名</h3>
      <p class="mb-0" style="padding: 15px 0px;">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0" style="padding: 15px 0px;">学科名：hogehoge</p>
    </div>
  </div>

</div>        <!-- 全体を囲むコンテナ -->
    </section>
  </article>
</main>









