<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="RegisteredLabo-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity1">
      <div class="container">        <!-- 全体を囲むコンテナ -->
        <h1 class="R-TitleName3" style="margin-bottom: 75px;"><strong>
          <i class="fas fa-school icon-blank"></i>登録済み研究室一覧</strong>
        </h1>
  <div class="d-sm-flex flex-wrap text-black">
    <div class="bg-info p-3 mb-2 mr-sm-2 Labo-Box">
      <h3 class="Labo-Border">研究室名</h3>
      <p class="mb-0 py-3">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0 py-3">学科名：hogehoge</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Labo-Box">
      <h3 class="Labo-Border">研究室名</h3>
      <p class="mb-0 py-3">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0 py-3">学科名：hogehoge</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Labo-Box">
      <h3 class="Labo-Border">研究室名</h3>
      <p class="mb-0 py-3">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0 py-3">学科名：hogehoge</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Labo-Box">
      <h3 class="Labo-Border">研究室名</h3>
      <p class="mb-0 py-3">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0 py-3">学科名：hogehoge</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Labo-Box">
      <h3 class="Labo-Border">研究室名</h3>
      <p class="mb-0 py-3">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0 py-3">学科名：hogehoge</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Labo-Box">
      <h3 class="Labo-Border">研究室名</h3>
      <p class="mb-0 py-3">大学名：hogehoge</p>
      <p class="mb-0">学部名：hogehoge</p>
      <p class="mb-0 py-3">学科名：hogehoge</p>
    </div>
  </div>

</div>        <!-- 全体を囲むコンテナ -->
    </section>
  </article>
</main>









