<header>

  <%= render partial: "render/nav" %>

</header>

<div class="container-fluid">        <!-- 全体を囲むコンテナ -->
  <div class="Home">

  <h2 class="mt-5">最新投稿一覧</h2>
  <hr class="mt-0 mb-2">

  <h4 class="mt-5">新薬A</h4>
  <hr class="mt-0 mb-3">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/Home/home1.jpg" class="img-fluid" style="height: 175px; width: auto;">
    </div>
    <div class="col-md-8 mt-2 mt-md-0">
      <p class="mb-0">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    </div>
  </div>

  <h4 class="mt-5">新薬B</h4>
  <hr class="mt-0 mb-3">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/Home/home2.jpg" class="img-fluid" style="height: 175px; width: auto;">
    </div>
    <div class="col-md-8 mt-2 mt-md-0">
      <p class="mb-0">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    </div>
  </div>

  </div>
</div>        <!-- 全体を囲むコンテナ -->


<footer>
  <%= render partial: "render/footer" %>
</footer>
