<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="ADMIN-content">
  <article>
    <section id="P-ADMIN1">
      <div class="Opacity-ADMIN" style="padding-top: 50px;">
      <h1 class="menutitle text-center" style="margin-bottom: 75px;"><strong>hogehoge研究室</strong></h1>
      <div class="container">        <!-- 全体を囲むコンテナ -->

  <h2 class="my-5"><img src="/assets/Admin/result.png" style="margin-right: 10px;">カスタムプロトコル</h2>

  <div class="d-sm-flex flex-wrap text-white">
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 25px!important;">
      <h4>プロトコル名<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
      <p class="mb-0">作成者名</p>
      <p class="mb-0">カテゴリー名</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 25px!important;">
      <h4>プロトコル名<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
      <p class="mb-0">作成者名</p>
      <p class="mb-0">カテゴリー名</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 25px!important;">
      <h4>プロトコル名<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
      <p class="mb-0">作成者名</p>
      <p class="mb-0">カテゴリー名</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 25px!important;">
      <h4>プロトコル名<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
      <p class="mb-0">作成者名</p>
      <p class="mb-0">カテゴリー名</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 25px!important;">
      <h4>プロトコル名<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
      <p class="mb-0">作成者名</p>
      <p class="mb-0">カテゴリー名</p>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2" style="padding-right: 25px!important;">
      <h4>プロトコル名<span style="margin-left: 15px; font-size: 16px;">作成日時</span></h4>
      <p class="mb-0">作成者名</p>
      <p class="mb-0">カテゴリー名</p>
    </div>
  </div>

</div>        <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>

