<main class="ADMIN-content">
  <article>
    <section id="P-ADMIN" style="background:url(<%= asset_path "Admin/admin1.jpg" %>);">
      <div class="Opacity-ADMIN" style="padding-bottom: 150px;">
        <h1 class="menutitle text-center" style="margin-bottom: 75px;"><strong>研究室パスワード</strong></h1>
        <div class="container-fluid" >        <!-- 全体を囲むコンテナ -->
          <div class="row">
            <div class="col-md-12 mt-4 mt-md-0 wf-roundedmplus1c">
              <h1 class="text-center" style="margin-top: 25px; font-size: 60px;"><strong>PASSWORD</strong></h1>
              <p class="show-password text-center">大学名、学部名、学科名、研究室名のパスワードは”1234567890”です。<br>直ちに研究室の導入責任者に伝えた上で、大切に保管して下さい。</p>
            </div>
          </div>
        </div>                   <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>

