<main class="Login-screen">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity5">
        <div class="container-fluid wf-roundedmplus1c">        <!-- 全体を囲むコンテナ -->
          <h1 class="R-TitleName text-center"><strong>Researchable</strong></h1>
          <h5 class="text-center" style="margin-bottom: 75px;">研究者の時間は、研究の為に・・・</h5>
          <div class="row justify-content-center">
            <div class="col-2"></div>
            <div class="col-10">
              <form>
                <div class="form-group form-row">
                  <label class="col-md-2 col-form-label text-md-left mb-4" for="Q_Name ">email</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="Q_Name">
                  </div>
                </div>
                <div class="form-group form-row mb-5">
                  <label class="col-md-2 col-form-label text-md-left" for="Q_Mail">パスワード</label>
                  <div class="col-md-6">
                    <input type="email" class="form-control" id="Q_Mail">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-9 text-center">
                    <button type="button" class="btn btn-outline-primary" style="margin-right: 10%;" onclick="location.href='/labo/show'">
                      <%= link_to "ログイン", class: 'btn btn-primary' %>
                    </button>
                    <%= link_to "新規登録画面", class: 'btn btn-outline-primary' %>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>                <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>


