<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="MemberList-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity1" style="padding-top: 100px;">
<div class="container">
  <h1 class="R-TitleName3"><strong>~hogehoge研究室~</strong></h1>
  <h2 class="my-5"><img class="icon-blank" src="/assets/Admin/member.png" style="">所属メンバー</h2>
</div>
<div class="container-fluid">        <!-- 全体を囲むコンテナ -->
  <div class="d-sm-flex flex-wrap text-black">
    <div class="bg-info p-3 mb-2 mr-sm-2 Member-Box">
      <a class="A-Tag" href="/user/show">
      <div class="media A-TagEffect">
        <img class="Member-Avatar mr-3" src="/assets/Admin/admin3.jpg">
        <div class="media-body" style="">
          <h4>USER_NAME</h4>
          <p class="mb-0">大学名：</p>
          <p class="mb-0">学部学科：</p>
        </div>
      </div>
      </a>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Member-Box">
      <div class="media">
        <a href="#" class="mr-3"><img class="Member-Avatar" src="/assets/Admin/admin3.jpg"></a>
        <div class="media-body">
          <h4>USER_NAME</h4>
          <p class="mb-0">大学名：</p>
          <p class="mb-0">学部学科：</p>
        </div>
      </div>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Member-Box">
      <div class="media">
        <a href="#" class="mr-3"><img class="Member-Avatar" src="/assets/Admin/admin3.jpg"></a>
        <div class="media-body">
          <h4>USER_NAME</h4>
          <p class="mb-0">大学名：</p>
          <p class="mb-0">学部学科：</p>
        </div>
      </div>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Member-Box">
      <div class="media">
        <a href="#" class="mr-3"><img class="Member-Avatar" src="/assets/Admin/admin3.jpg"></a>
        <div class="media-body">
          <h4>USER_NAME</h4>
          <p class="mb-0">大学名：</p>
          <p class="mb-0">学部学科：</p>
        </div>
      </div>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Member-Box">
      <div class="media">
        <a href="#" class="mr-3"><img class="Member-Avatar" src="/assets/Admin/admin3.jpg"></a>
        <div class="media-body">
          <h4>USER_NAME</h4>
          <p class="mb-0">大学名：</p>
          <p class="mb-0">学部学科：</p>
        </div>
      </div>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Member-Box">
      <div class="media">
        <a href="#" class="mr-3"><img class="Member-Avatar" src="/assets/Admin/admin3.jpg"></a>
        <div class="media-body">
          <h4>USER_NAME</h4>
          <p class="mb-0">大学名：</p>
          <p class="mb-0">学部学科：</p>
        </div>
      </div>
    </div>


  </div>

</div>        <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>










