<header>

  <%= render partial: "render/nav" %>

</header>

<div class="container-fluid" style="margin-bottom: 125px;">        <!-- 全体を囲むコンテナ -->
  <div class="Home">

  <h2 class="mt-5">山田太郎</h2>
  <hr class="mt-0 mb-2">

  <div class="row">
    <div class="col-md-4">
      大学：A大学<br>
      学部：B学部<br>
      学科：C学科<br>
    </div>
    <div class="col-md-8 mt-2 mt-md-0">
      <p class="mb-0"></p>
    </div>
  </div>

  </div>
</div>        <!-- 全体を囲むコンテナ -->

<div class="container-fluid">        <!-- 全体を囲むコンテナ -->
  <div class="Home">

  <h2 class="mt-5">山田太郎投稿一覧</h2>
  <hr class="mt-0 mb-2">

  <h4 class="mt-5">薬１</h4>
  <hr class="mt-0 mb-3">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/Home/home1.jpg" class="img-fluid" style="height: 175px; width: auto;">
    </div>
    <div class="col-md-8 mt-2 mt-md-0">
      <p class="mb-0">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    </div>
  </div>

  <h4 class="mt-5">薬2</h4>
  <hr class="mt-0 mb-3">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/Home/home1.jpg" class="img-fluid" style="height: 175px; width: auto;">
    </div>
    <div class="col-md-8 mt-2 mt-md-0">
      <p class="mb-0">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    </div>
  </div>

  </div>
</div>        <!-- 全体を囲むコンテナ -->


<footer>
  <%= render partial: "render/footer" %>
</footer>
