<main class="Login-content">
  <article>
    <section id="P-Login" style="background:url(<%= asset_path "Login/login.jpg" %>);">
      <h1 class="menutitle text-center" style="margin-bottom: 75px;"><strong>RESEARCHABLE</strong></h1>
      <div class="Opacity-CONTACT">
        <div class="container-fluid">        <!-- 全体を囲むコンテナ -->
          <div class="row justify-content-center">
            <div class="col-2"></div>
            <div class="col-10">
              <form>
                <div class="form-group form-row">
                  <label class="col-md-2 col-form-label text-md-left" for="Q_Name">ユーザID</label>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="Q_Name">
                  </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-md-2 col-form-label text-md-left" for="Q_Mail">パスワード</label>
                  <div class="col-md-5">
                    <input type="email" class="form-control" id="Q_Mail">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-9 text-center"><button type="submit" class="btn btn-outline-primary">
                    <%= link_to 'ログイン', '/researchable' %></button>
                  </div>
                </div>
                <div class="New-register col-9 text-center" style="padding: 50px;">
                  <button type="submit" class="btn btn-outline-primary">
                <%= link_to '新規登録画面', '/login/new' %></button>
                </div>
              </form>
            </div>
          </div>
        </div>                <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>


