<main class="Thanks-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity4">
        <div class="container-fluid" >        <!-- 全体を囲むコンテナ -->
          <div class="row">
            <div class="col-md-12">
              <h1 class="R-TitleName text-center"><strong>Researchable</strong></h1>
              <h5 class="text-center" style="margin-bottom: 75px;">研究者の時間は、研究の為に・・・</h5>
              <h3 class="Thanks-text text-center">researchableへのご登録、ありがとうございます。<br>
              登録いただいたメールアドレスに確認メールを送信いたしました。<br>
              メールに記載されたリンクをクリックすることで認証が完了します。</h3>
              <div class="text-center mt-5" style="display: block; text-align: center;">
                  <button type="submit" class="btn btn-outline-primary">
                    <a href="/users">ログイン画面へ戻る</a>
                  </button>
              </div>
            </div>
          </div>
        </div>                   <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>

