<main class="ADMIN-content wf-roundedmplus1c">
  <article>
    <section id="P-MEMBER" style="background:url(<%= asset_path "Admin/admin1.jpg" %>);">
      <div class="Opacity-MEMBER">
        <div class="container-fluid" >        <!-- 全体を囲むコンテナ -->
          <div class="row">
            <div class="col-md-12 mt-4 mt-md-0">
              <h1 class="text-center" style="margin-top: 100px; font-size: 64px;letter-spacing: 5.5px;"><strong>Researchable</strong></h1>
              <h5 class="text-center">研究者の時間は、研究の為に・・・</h5>
              <p class="show-password text-center">researchableへのご登録、ありがとうございます。<br>
              登録いただいたメールアドレスに確認メールを送信いたしました。<br>
              メールに記載されたリンクをクリックすることで認証が完了します。</p>
            </div>
          </div>
        </div>                   <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>

