<main class="Login-content">
  <article>
    <section id="P-Login" style="background:url(<%= asset_path "Login/login.jpg" %>);padding: 100px 0px 300px;">
      <h1 class="menutitle text-center" style="margin-bottom: 75px;"><strong>RESEARCHABLE</strong></h1>
      <div class="Opacity-CONTACT">
        <div class="container-fluid">        <!-- 全体を囲むコンテナ -->
          <div class="row justify-content-center">
            <div class="col-2"></div>
            <div class="col-10">
              <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="wrcxDpjgAEV7Flynku+O1Or+HBQBevma9MmwPK/rfc/b9YmzJv5d/948ulryrwYh+xA18OTp2lVRxbfD8GR1kA==" />
                <div class="form-group form-row">
                  <label class="col-md-2 col-form-label text-md-left" for="user_last_name">姓</label>
                  <div class="col-md-5">
                    <input autofocus="autofocus" type="text" class="form-control" name="user[last_name]" id="user_last_name">
                  </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-md-2 col-form-label text-md-left" for="user_first_name">名</label>
                  <div class="col-md-5">
                    <input autofocus="autofocus" type="text" class="form-control" name="user[first_name]" id="user_first_name">
                  </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-md-2 col-form-label text-md-left" for="user_email">Email</label>
                  <div class="col-md-5">
                    <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" class="form-control" id="user_email"/>
                  </div>
                </div>
                
                <div class="form-group form-row">
                  <label class="col-md-2 col-form-label text-md-left" for="user_assword">Password</label>
                  <div class="col-md-5">
                    <input class="form-control" autocomplete="new-password" type="password" name="user[password]" id="user_password" />
                  </div>
                </div>
                
                <div class="form-group form-row">
                  <label class="col-md-2 col-form-label text-md-left" for="user_password_confirmation">Password Confirmation</label><br />
                  <div class="col-md-5">
                    <input class="form-control" autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
                  </div>
                <div/>
                <div class="field">
                </div></div>
                <div class="register col-9 text-center" style="display: block; text-align: center;">
                  <button type="submit" class="btn btn-outline-primary">
                <%= render "devise/shared/links" %>
                </div>
              </form>
            </div>
          </div>
        </div>                <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>